In [1]:
import numpy as np
import pandas as pd
import joblib
import glob
import pickle
import yaml
from tqdm import tqdm_notebook as tqdm

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

In [2]:
def load_features(features, base_dir, logger=None):
    loaded_features = []
    for feature in tqdm(features):
        load_filename = base_dir + feature + '.pkl.gz'
        loaded_feature = pd.read_pickle(load_filename, compression='gzip')
        loaded_features.append(loaded_feature)

    features_df = pd.concat(loaded_features, axis=1)
    return features_df

## rolling がうまくできないか調査

In [3]:
df = load_features(['MachineIdentifier', 'HasDetections', 'DateAS'], '../inputs/features/')
df.head()

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

                  MachineIdentifier  HasDetections              DateAS
0  0000028988387b115f69f31a3bf04f09            0.0 2018-08-20 21:11:00
1  000007535c3f730efa9ea0b7ef1bd645            0.0 2018-03-01 22:10:00
2  000007905a28d863f6d0d597892cd692            0.0 2018-08-13 23:35:00
3  00000b11598a75ea8ba1beea8459149f            1.0 2018-08-17 03:01:00
4  000014a5f00daa18e76b81417eeb99fc            1.0 2018-08-14 12:33:00

In [17]:
a = df.DateAS.sort_values().dropna()

In [20]:
a.unique()[-10:]

array(['2018-11-25T10:50:00.000000000', '2018-11-25T12:14:00.000000000',
       '2018-11-25T13:40:00.000000000', '2018-11-25T15:00:00.000000000',
       '2018-11-25T16:25:00.000000000', '2018-11-25T17:39:00.000000000',
       '2018-11-25T19:15:00.000000000', '2018-11-25T20:35:00.000000000',
       '2018-11-25T22:04:00.000000000', '2018-11-25T23:28:00.000000000'],
      dtype='datetime64[ns]')

In [21]:
df['rnd'] = df['DateAS'].dt.round('min')

In [40]:
a = pd.date_range(start=df['rnd'].min(), end=df['rnd'].max(), freq='min')
b = pd.DataFrame()
b['rnd'] = a
b['target'] = 0
df['target'] = 1
c = pd.concat([df, b], axis=0)
d = c.pivot_table(values='target', index='rnd', aggfunc='sum')
d

/home/naoya.taguchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                     target
rnd
2013-07-18 09:08:00      21
2013-07-18 09:09:00       0
2013-07-18 09:10:00       0
2013-07-18 09:11:00       0
2013-07-18 09:12:00       0
2013-07-18 09:13:00       0
2013-07-18 09:14:00       0
2013-07-18 09:15:00       0
2013-07-18 09:16:00       0
2013-07-18 09:17:00       0
2013-07-18 09:18:00       0
2013-07-18 09:19:00       0
2013-07-18 09:20:00       0
2013-07-18 09:21:00       0
2013-07-18 09:22:00       0
2013-07-18 09:23:00       0
2013-07-18 09:24:00       0
2013-07-18 09:25:00       0
2013-07-18 09:26:00       0
2013-07-18 09:27:00       0
2013-07-18 09:28:00       0
2013-07-18 09:29:00       0
2013-07-18 09:30:00       0
2013-07-18 09:31:00       0
2013-07-18 09:32:00       0
2013-07-18 09:33:00       0
2013-07-18 09:34:00       0
2013-07-18 09:35:00       0
2013-07-18 09:36:00       0
2013-07-18 09:37:00       0
...                     ...
2018-11-25 22:59:00       0
2018-11-25 23:00:00       0
2018-11-25 23:01:00       0
2018-11-25 23:02:00       0
2018-11-25 23:03:00       0
2018-11-25 23:04:00       0
2018-11-25 23:05:00       0
2018-11-25 23:06:00       0
2018-11-25 23:07:00       0
2018-11-25 23:08:00       0
2018-11-25 23:09:00       0
2018-11-25 23:10:00       0
2018-11-25 23:11:00       0
2018-11-25 23:12:00       0
2018-11-25 23:13:00       0
2018-11-25 23:14:00       0
2018-11-25 23:15:00       0
2018-11-25 23:16:00       0
2018-11-25 23:17:00       0
2018-11-25 23:18:00       0
2018-11-25 23:19:00       0
2018-11-25 23:20:00       0
2018-11-25 23:21:00       0
2018-11-25 23:22:00       0
2018-11-25 23:23:00       0
2018-11-25 23:24:00       0
2018-11-25 23:25:00       0
2018-11-25 23:26:00       0
2018-11-25 23:27:00       0
2018-11-25 23:28:00     100

[2817501 rows x 1 columns]

In [57]:
df.query('DateAS > "2018-11-25 20:28:00"')

,MachineIdentifier,HasDetections,DateAS,rnd,target
8921900,000330a64298efa1fb3e71b0e224ea79,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8922403,00076ba2850db5c043598012fa6325bb,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8922946,000bdd773b6e9e82f69ea781d0249158,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8923673,0011a87cb873363aff65a18a703225b1,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8925384,001fc7776f5397c9901b0cbe67592223,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8927131,002e99de2f8222ab63edee8fd95939f0,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8927254,002fe4250a2120689ce50dd0d3cd8cce,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8928253,0038a87cbb43569e16cfa3ec2c619e40,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8928609,003b809365615ae7ff2f81a59fd4b589,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8928884,003dfa384b3491a95c2f0f973d503127,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8929438,0042a357e9d22d7aac4ee3c269aff26c,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8932369,005bd03898addbccd8391b2eecf67ba3,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8932485,005c908555869d1b4f268363352b4bf1,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8932647,005e24dfa2ae556fecc564983bfe3bd3,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8933304,0063b436390ff9b1ed74ba718e345c64,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8933557,0065c6a0a80417b535b78774b012be36,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8935591,007675444b0d16c8f08d444bc3f25225,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8935664,0077226226f5b398c579b413620024e5,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8935855,0078c1939750a9d815afc4d6c3d70a57,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8936190,007bc5e38fb3d3b10843fdf5d1cf04e8,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8937126,00839d4b3178abcbbec6b04ce898431a,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8937463,0086b3af1222a1698b885ee08709274a,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
8939846,009a738aeafa8603c4983c6eaab8b2d7,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8940395,009ec17f4fdd159691845d7bf1d5ed06,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8942049,00acc17b6e5b23f62580198d6857e080,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8943385,00b7e07a28da097771de6404a0c707d2,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8943769,00bb4bf4fbdaf6e9f4ffb03cc7856a33,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8945425,00c913ea22786ac52d1d08705cf1ffaf,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8945918,00cd4ec834ecaa87018f81a2134c9ad6,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
8945950,00cd9c048b8b976f94b8c79dd8712a62,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
...,...,...,...,...,...
16756531,ff690b54cc213152f9e15e6e50b46fec,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16757523,ff7137eb477f91b4daed48047315ea3a,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16757705,ff72b316d0d9030ded6cd03b386c9e73,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16757911,ff747e917544062c885c12d85b6a5275,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16758773,ff7bc5a77f03e298cee5fc136d8dc10f,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16758859,ff7c7500f32a78432bc1e715f13ff71f,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16758921,ff7cf52ef0ec52ae17467eb6354d6ae8,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16759086,ff7e4e27accef88cbae8e5ae48f61a05,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16759123,ff7e8ce0381dddd460e9ff1a13289c20,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16760187,ff873bae09ba0db0871b86910c7fa8cf,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16760346,ff889cf9be8314d6e90b2f17a29b9e5c,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16760551,ff8a73851a14d304edd4007079a7dfde,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16760652,ff8b41a0c790a4ab5192ee6efcabd30e,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16760936,ff8d9c1c3c5195b4a0cc2bcfa4ab42f6,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16761015,ff8e58fb4be8ac8beee33b7b80a57681,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16762123,ff97c85883fc465dd63c2d855f6dac15,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16765100,ffb0c01673922a7d85928ddd93dc5b1f,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16766040,ffb8ab5a1eb4bbd5e8507a97cd8c9f0c,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16766550,ffbce80059fffe74c7e3067a621457f8,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16766684,ffbdfc1bdf040589676c515c6422b605,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16766734,ffbe6d096208aefa9c5e9c85457b08c2,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16767996,ffc8f5ed0b1219beefe23aa11067c407,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16769283,ffd3bf1ebb2f79ebbc57885db774c67e,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16769514,ffd58d3f2327cca1564360c41b6af78d,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16771404,ffe4ac5a4c662535428bcb2544de0ac2,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16771593,ffe63bae26bca50288a8b0c99bf95008,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16772026,ffe9c405094e3827293790fdeacd739a,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16772706,ffef652c0bcab3ca9917779f7b8cb4f0,NaN,2018-11-25 22:04:00,2018-11-25 22:04:00,1
16773680,fff778ebed43ce86ae5ffd8d89de3374,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1
16774659,ffff53d6c038e8b332bb60af1a0e6a11,NaN,2018-11-25 20:35:00,2018-11-25 20:35:00,1

In [58]:
df.shape

(16774736, 5)

In [48]:
d.loc[d.target != 0, 'target'] =  1
d.head()

                     target
rnd
2013-07-18 09:08:00       1
2013-07-18 09:09:00       0
2013-07-18 09:10:00       0
2013-07-18 09:11:00       0
2013-07-18 09:12:00       0

In [50]:
d.query('target==1').tail(100)

                     target
rnd
2018-11-19 19:45:00       1
2018-11-19 20:29:00       1
2018-11-19 23:25:00       1
2018-11-20 01:26:00       1
2018-11-20 03:56:00       1
2018-11-20 05:24:00       1
2018-11-20 06:31:00       1
2018-11-20 08:01:00       1
2018-11-20 09:10:00       1
2018-11-20 10:40:00       1
2018-11-20 11:54:00       1
2018-11-20 13:20:00       1
2018-11-20 14:36:00       1
2018-11-20 15:56:00       1
2018-11-20 17:26:00       1
2018-11-20 18:50:00       1
2018-11-20 20:11:00       1
2018-11-20 21:30:00       1
2018-11-20 22:57:00       1
2018-11-21 00:11:00       1
2018-11-21 01:26:00       1
2018-11-21 02:42:00       1
2018-11-21 04:00:00       1
2018-11-21 05:25:00       1
2018-11-21 06:53:00       1
2018-11-21 11:33:00       1
2018-11-21 13:02:00       1
2018-11-21 14:26:00       1
2018-11-21 16:01:00       1
2018-11-21 17:02:00       1
...                     ...
2018-11-24 07:38:00       1
2018-11-24 09:04:00       1
2018-11-24 10:18:00       1
2018-11-24 11:39:00       1
2018-11-24 12:57:00       1
2018-11-24 14:18:00       1
2018-11-24 15:38:00       1
2018-11-24 16:58:00       1
2018-11-24 18:38:00       1
2018-11-24 19:49:00       1
2018-11-24 21:10:00       1
2018-11-24 22:22:00       1
2018-11-24 23:48:00       1
2018-11-25 01:04:00       1
2018-11-25 02:29:00       1
2018-11-25 03:54:00       1
2018-11-25 05:13:00       1
2018-11-25 06:35:00       1
2018-11-25 07:53:00       1
2018-11-25 09:14:00       1
2018-11-25 10:50:00       1
2018-11-25 12:14:00       1
2018-11-25 13:40:00       1
2018-11-25 15:00:00       1
2018-11-25 16:25:00       1
2018-11-25 17:39:00       1
2018-11-25 19:15:00       1
2018-11-25 20:35:00       1
2018-11-25 22:04:00       1
2018-11-25 23:28:00       1

[100 rows x 1 columns]

In [47]:
pd.DataFrame(df['DateAS'].value_counts()).DateAS.value_counts().reset_index().sort_values('index')

       index  DateAS
0          1     311
16         2      83
25         3      75
37         4      53
17         5      83
26         6      73
22         7      77
11         8      95
13         9      93
6         10     111
2         11     121
7         12     111
1         13     123
5         14     112
3         15     119
8         16     107
4         17     119
10        18      97
14        19      92
9         20     106
24        21      76
15        22      88
12        23      94
23        24      77
18        25      81
21        26      77
27        27      71
30        28      65
28        29      67
20        30      78
...      ...     ...
1008   41940       1
2307   42143       1
1974   42906       1
1386   45687       1
2145   45962       1
838    46284       1
1911   47168       1
1586   48649       1
1862   49032       1
2302   50299       1
1265   50449       1
935    52147       1
1849   54981       1
2555   57377       1
1312   63517       1
2081   67893       1
2177   68125       1
1168   68417       1
844    72937       1
1836   73108       1
1539   80393       1
950    87856       1
813    89769       1
1958   89821       1
1468   99049       1
2481  105839       1
1227  111318       1
1690  118220       1
1426  150560       1
1035  230648       1

[2602 rows x 2 columns]

In [39]:
d.loc[d.MachineIdentifier == 1, ]

AttributeError: 'DataFrame' object has no attribute 'map'

In [37]:
df.sort_values('rnd')

,MachineIdentifier,HasDetections,DateAS,rnd
4193362,78523fe75bdf1c49eba244a8da134bcc,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
15209749,cd03b927121f64c56b7d41bccca8388f,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
9488509,1275391a9eb1b26b7d46dfd36cd1f0e5,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
10969095,42b6be5705e483de0fc79f4de688e4ac,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
13688564,9b50d63688c2d705798911e5dcf41b10,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
1264348,244fa807a7c759a3a55f10d61d7a0f0c,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
8143708,e9ac07c5b6a787580048aea53f73f363,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
4432043,7f356b3f062302c10c53948a9e1c0c20,0.0,2013-07-18 09:08:00,2013-07-18 09:08:00
14344603,b0bb5d536a60b527b15ce67b2375fd85,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
7981688,e5037fe1a117c4edc98ca4bb600491e1,0.0,2013-07-18 09:08:00,2013-07-18 09:08:00
6453766,b93bcf439cd83e1426bb2094de70a796,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
7087435,cb58923b451b201e9de5668f186879a5,0.0,2013-07-18 09:08:00,2013-07-18 09:08:00
4561950,82f123c563221246782eb2a85e3daf21,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
14517315,b65ee689002527fadb12fd1b8f4db8b3,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
11205638,4a71cab953835c5f894362afcd0a74b8,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
15368343,d22a25ed5dbf6c2ed6a66f0261a933de,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
9241174,0a6e131bda44fd809b1d2cc29338b6fd,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
8078889,e7d094c26d231954d945865f198e5233,1.0,2013-07-18 09:08:00,2013-07-18 09:08:00
6542168,bbc2d7f48f578935fd7033731d1bde5c,0.0,2013-07-18 09:08:00,2013-07-18 09:08:00
11439452,520efc36dfdc5434afb18f97b6a95769,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
10745903,3b6a6e5834d9fc84755c449d0960ed9e,NaN,2013-07-18 09:08:00,2013-07-18 09:08:00
13421944,92a8817ce0f0ff77c97d779b5bc34cc9,NaN,2014-02-21 14:20:00,2014-02-21 14:20:00
7541564,d85f61fd11147079ba28c970d5a63c3d,1.0,2014-02-21 14:20:00,2014-02-21 14:20:00
11579105,569f09b396522fcd871943b8e94f8efb,NaN,2014-02-21 14:20:00,2014-02-21 14:20:00
2415581,454a18a574286bd020b714bf55108f52,0.0,2014-02-21 14:20:00,2014-02-21 14:20:00
477028,0db7b54a57094c26de6d8497a8018e65,0.0,2014-02-21 14:20:00,2014-02-21 14:20:00
6653205,bef26872a1f45b61d970c246b3f02c9b,1.0,2014-03-18 01:09:00,2014-03-18 01:09:00
186869,0561381b5041916e5a8c6992ad54c5b1,0.0,2014-03-18 01:09:00,2014-03-18 01:09:00
1378865,2796c28e9db1ccfbd0425486e9c96d02,0.0,2014-03-18 01:09:00,2014-03-18 01:09:00
7571070,d939a1cde2fbca752bba494b2e02ec68,1.0,2014-03-18 01:09:00,2014-03-18 01:09:00
...,...,...,...,...
14075183,a7ebe733cd84fa1e029e641c8f3f14fd,NaN,NaT,NaT
14312076,afa888523818e2c2315b421dcd33ab6c,NaN,NaT,NaT
14466852,b4b83e710d0c193bb8f58f2b59b55a46,NaN,NaT,NaT
14747569,bde8d08606096d358b29f451ecb35b65,NaN,NaT,NaT
14857089,c1803cb0acaf68309aeaabc2ad877055,NaN,NaT,NaT
15175273,cbe33cdf16662ed07abaa128bf4ef389,NaN,NaT,NaT
15365608,d2137b74e1993cbaf04b365b0130df53,NaN,NaT,NaT
15550138,d818adbebfd679b20a66d1b8d810d1dc,NaN,NaT,NaT
15606477,d9eb68c3c1291786b44e8c22e80b6519,NaN,NaT,NaT
15629852,daadef49e42909daad771f4dd84fb928,NaN,NaT,NaT
15652913,db6ecd51323df155fd50d1fff3254055,NaN,NaT,NaT
15726355,ddd66992da9cbb12db76d9d874fedf8b,NaN,NaT,NaT
15759934,deef46957f308d6d9d94e51999476e51,NaN,NaT,NaT
15777613,df81a38177efaac6b95df42ddef504e6,NaN,NaT,NaT
15794404,e00caf72020da7aa05302b63ba82dfbd,NaN,NaT,NaT
15804021,e05db268c5f1e48e5fa63de1f39f02d7,NaN,NaT,NaT
15901781,e38a4d2f1d06d0cd2ae28af299c05573,NaN,NaT,NaT
15997095,e6a3855da11ea06d39a67611c6cde5f3,NaN,NaT,NaT
16051018,e8650d91c34c7e5da97662790e987f90,NaN,NaT,NaT
16064508,e8d52fc6e8dadd55c6fd1cb395304015,NaN,NaT,NaT
16173906,ec6910b4d9e0baae203e9819227659ec,NaN,NaT,NaT
16346227,f203cc617181afab0f95680a68cd6fd2,NaN,NaT,NaT
16516812,f795ee2556fd39353767c5c4c914279e,NaN,NaT,NaT
16517035,f797ce0146f942c9ae235696a3bc4779,NaN,NaT,NaT
16545422,f881dbd703380091ae63b6d9c76d569c,NaN,NaT,NaT
16548181,f899923f0a42719f588608018611c8c3,NaN,NaT,NaT
16610114,faa1173ccba128cdc7f4d0c3f43b75f7,NaN,NaT,NaT
16667671,fc80014ba7dd9d18e465f3f7ced61ad1,NaN,NaT,NaT
16716987,fe1ba8ba89a72755cc2a5c1c6b30dab4,NaN,NaT,NaT
16726058,fe677017180ea97711e0ec37d0662cd7,NaN,NaT,NaT

In [35]:
c

,DateAS,HasDetections,MachineIdentifier,rnd
0,2018-08-20 21:11:00,0.0,0000028988387b115f69f31a3bf04f09,2018-08-20 21:11:00
1,2018-03-01 22:10:00,0.0,000007535c3f730efa9ea0b7ef1bd645,2018-03-01 22:10:00
2,2018-08-13 23:35:00,0.0,000007905a28d863f6d0d597892cd692,2018-08-13 23:35:00
3,2018-08-17 03:01:00,1.0,00000b11598a75ea8ba1beea8459149f,2018-08-17 03:01:00
4,2018-08-14 12:33:00,1.0,000014a5f00daa18e76b81417eeb99fc,2018-08-14 12:33:00
5,2018-08-09 06:59:00,1.0,000016191b897145d069102325cab760,2018-08-09 06:59:00
6,2018-08-05 00:52:00,1.0,0000161e8abf8d8b89c5ab8787fd712b,2018-08-05 00:52:00
7,2018-08-14 20:09:00,0.0,000019515bc8f95851aff6de873405e8,2018-08-14 20:09:00
8,2018-09-10 00:51:00,0.0,00001a027a0ab970c408182df8484fce,2018-09-10 00:51:00
9,2018-08-07 09:14:00,1.0,00001a18d69bb60bda9779408dcf02ac,2018-08-07 09:14:00
10,2018-08-05 12:25:00,0.0,00001b3b3cf8c8c079a272ce51031753,2018-08-05 12:25:00
11,2018-08-22 05:11:00,1.0,00001b924fcc6922321cfadbafd8a91a,2018-08-22 05:11:00
12,2018-08-14 10:21:00,0.0,00001f26e9e5775277d6231fc6ac9e70,2018-08-14 10:21:00
13,2018-09-07 10:38:00,0.0,000024872c81cf03fa862aa8f99e0984,2018-09-07 10:38:00
14,2018-08-06 15:12:00,1.0,0000258d2b847c7549150cfec6464473,2018-08-06 15:12:00
15,2018-08-24 23:45:00,1.0,000027c68b89acb49d4017763b043449,2018-08-24 23:45:00
16,2018-08-28 06:37:00,0.0,000028150912f45b1dc667164de489ef,2018-08-28 06:37:00
17,2018-07-28 04:04:00,0.0,00002a7fd74f9ca4a59a679a7cc80388,2018-07-28 04:04:00
18,2018-09-25 16:42:00,0.0,00002b7454f06444e8d9f6083d8a9ebd,2018-09-25 16:42:00
19,2018-08-21 17:44:00,1.0,00002c6cccecdef94aaa557d0458ab8a,2018-08-21 17:44:00
20,2018-08-03 09:27:00,0.0,0000309dcbba938f8aa7ee5a0204119d,2018-08-03 09:27:00
21,2018-07-25 22:25:00,1.0,000033565d8f7a3029afd1d6c4c465e9,2018-07-25 22:25:00
22,2018-08-31 08:06:00,0.0,0000378813e163d00d5e5f7e0a12b6d9,2018-08-31 08:06:00
23,2018-08-26 03:16:00,0.0,000037f84e21c83328ba6963cdac497b,2018-08-26 03:16:00
24,2018-09-07 04:31:00,0.0,000038f24a1ee98931456b3e49f7934b,2018-09-07 04:31:00
25,2018-08-24 09:17:00,0.0,000039104d7f42c15fdc0d1bcb9d4b4a,2018-08-24 09:17:00
26,2018-08-14 11:19:00,1.0,000039c280a86ff549f7f3526e918ae4,2018-08-14 11:19:00
27,2018-09-25 16:37:00,0.0,00003ad63e561a25415551cd47d426d5,2018-09-25 16:37:00
28,2018-08-23 08:42:00,1.0,00003e5e679ccfe7a13e953c47dd584f,2018-08-23 08:42:00
29,2018-08-17 12:45:00,1.0,0000422df51e713f82b98e04cb883cb5,2018-08-17 12:45:00
...,...,...,...,...
2817471,NaT,NaN,0,2018-11-25 22:59:00
2817472,NaT,NaN,0,2018-11-25 23:00:00
2817473,NaT,NaN,0,2018-11-25 23:01:00
2817474,NaT,NaN,0,2018-11-25 23:02:00
2817475,NaT,NaN,0,2018-11-25 23:03:00
2817476,NaT,NaN,0,2018-11-25 23:04:00
2817477,NaT,NaN,0,2018-11-25 23:05:00
2817478,NaT,NaN,0,2018-11-25 23:06:00
2817479,NaT,NaN,0,2018-11-25 23:07:00
2817480,NaT,NaN,0,2018-11-25 23:08:00
2817481,NaT,NaN,0,2018-11-25 23:09:00
2817482,NaT,NaN,0,2018-11-25 23:10:00
2817483,NaT,NaN,0,2018-11-25 23:11:00
2817484,NaT,NaN,0,2018-11-25 23:12:00
2817485,NaT,NaN,0,2018-11-25 23:13:00
2817486,NaT,NaN,0,2018-11-25 23:14:00
2817487,NaT,NaN,0,2018-11-25 23:15:00
2817488,NaT,NaN,0,2018-11-25 23:16:00
2817489,NaT,NaN,0,2018-11-25 23:17:00
2817490,NaT,NaN,0,2018-11-25 23:18:00
2817491,NaT,NaN,0,2018-11-25 23:19:00
2817492,NaT,NaN,0,2018-11-25 23:20:00
2817493,NaT,NaN,0,2018-11-25 23:21:00
2817494,NaT,NaN,0,2018-11-25 23:22:00
2817495,NaT,NaN,0,2018-11-25 23:23:00
2817496,NaT,NaN,0,2018-11-25 23:24:00
2817497,NaT,NaN,0,2018-11-25 23:25:00
2817498,NaT,NaN,0,2018-11-25 23:26:00
2817499,NaT,NaN,0,2018-11-25 23:27:00
2817500,NaT,NaN,0,2018-11-25 23:28:00

In [8]:
pd.Series(pd.Series(df.DateAS.unique()).sort_values().diff().unique()).sort_values()

677     0 days 00:01:00
678     0 days 00:02:00
679     0 days 00:03:00
680     0 days 00:04:00
878     0 days 00:05:00
729     0 days 00:06:00
872     0 days 00:10:00
876     0 days 00:11:00
879     0 days 00:13:00
510     0 days 00:14:00
511     0 days 00:15:00
775     0 days 00:16:00
845     0 days 00:17:00
705     0 days 00:19:00
804     0 days 00:20:00
790     0 days 00:22:00
752     0 days 00:24:00
474     0 days 00:25:00
831     0 days 00:26:00
868     0 days 00:27:00
503     0 days 00:28:00
496     0 days 00:29:00
759     0 days 00:30:00
707     0 days 00:31:00
813     0 days 00:32:00
393     0 days 00:33:00
834     0 days 00:34:00
536     0 days 00:35:00
864     0 days 00:36:00
749     0 days 00:37:00
             ...
110     4 days 15:34:00
68      4 days 22:14:00
32      5 days 02:30:00
18      5 days 12:03:00
59      5 days 13:33:00
45      5 days 13:42:00
129     6 days 06:13:00
17      6 days 18:33:00
108     6 days 18:49:00
96      7 days 01:00:00
20      7 days 02:07:00
16      7 days 05:16:00
33      7 days 06:55:00
40      8 days 13:25:00
7       9 days 02:12:00
21      9 days 05:35:00
4       9 days 15:59:00
23      9 days 22:15:00
26     12 days 06:52:00
12     14 days 12:04:00
13     14 days 18:33:00
3      16 days 00:08:00
8      17 days 20:55:00
2      24 days 10:49:00
9      36 days 12:02:00
10     54 days 21:16:00
5      68 days 00:00:00
6     125 days 07:51:00
1     218 days 05:12:00
0                   NaT
Length: 885, dtype: timedelta64[ns]

In [13]:
df.DateAS.dt.round('min')

0          2018-08-20 21:11:00
1          2018-03-01 22:10:00
2          2018-08-13 23:35:00
3          2018-08-17 03:01:00
4          2018-08-14 12:33:00
5          2018-08-09 06:59:00
6          2018-08-05 00:52:00
7          2018-08-14 20:09:00
8          2018-09-10 00:51:00
9          2018-08-07 09:14:00
10         2018-08-05 12:25:00
11         2018-08-22 05:11:00
12         2018-08-14 10:21:00
13         2018-09-07 10:38:00
14         2018-08-06 15:12:00
15         2018-08-24 23:45:00
16         2018-08-28 06:37:00
17         2018-07-28 04:04:00
18         2018-09-25 16:42:00
19         2018-08-21 17:44:00
20         2018-08-03 09:27:00
21         2018-07-25 22:25:00
22         2018-08-31 08:06:00
23         2018-08-26 03:16:00
24         2018-09-07 04:31:00
25         2018-08-24 09:17:00
26         2018-08-14 11:19:00
27         2018-09-25 16:37:00
28         2018-08-23 08:42:00
29         2018-08-17 12:45:00
                   ...
16774706   2018-10-17 18:37:00
16774707   2018-10-23 12:04:00
16774708   2018-11-21 17:02:00
16774709   2018-11-15 00:45:00
16774710   2018-11-18 16:45:00
16774711   2018-10-16 12:46:00
16774712   2018-10-25 08:45:00
16774713   2018-09-02 07:45:00
16774714   2018-11-21 01:26:00
16774715   2018-11-22 16:23:00
16774716   2018-10-08 04:03:00
16774717   2018-10-02 17:05:00
16774718   2018-10-27 03:45:00
16774719   2018-05-16 19:58:00
16774720   2018-11-21 06:53:00
16774721   2018-10-14 11:54:00
16774722   2018-10-09 12:11:00
16774723   2018-10-11 17:13:00
16774724   2018-11-19 13:36:00
16774725   2018-10-12 04:43:00
16774726   2018-06-17 12:54:00
16774727   2018-11-08 17:47:00
16774728   2018-09-28 20:08:00
16774729   2018-10-05 10:25:00
16774730   2018-10-03 08:55:00
16774731   2018-11-16 20:05:00
16774732   2018-11-19 01:59:00
16774733   2018-11-16 20:05:00
16774734   2018-11-08 14:28:00
16774735   2018-11-25 13:40:00
Name: DateAS, Length: 16774736, dtype: datetime64[ns]

In [39]:
exp_df = df[df.DateAS.notnull()]
exp_df['temp'] = exp_df.DateAS.dt.round('H')
exp_df.head()

/home/naoya.taguchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,MachineIdentifier,HasDetections,DateAS,temp
0,0000028988387b115f69f31a3bf04f09,0.0,2018-08-20 21:11:00,2018-08-20 21:00:00
1,000007535c3f730efa9ea0b7ef1bd645,0.0,2018-03-01 22:10:00,2018-03-01 22:00:00
2,000007905a28d863f6d0d597892cd692,0.0,2018-08-13 23:35:00,2018-08-14 00:00:00
3,00000b11598a75ea8ba1beea8459149f,1.0,2018-08-17 03:01:00,2018-08-17 03:00:00
4,000014a5f00daa18e76b81417eeb99fc,1.0,2018-08-14 12:33:00,2018-08-14 13:00:00

In [40]:
exp_df['temp'].min(), exp_df['temp'].max()

(Timestamp('2013-07-18 09:00:00'), Timestamp('2018-11-25 23:00:00'))

In [41]:
a = pd.date_range(start=exp_df['temp'].min(), end=exp_df['temp'].max(), freq='H')

In [42]:
b = pd.DataFrame()
b['temp'] = a

In [44]:
c = pd.concat([exp_df, b], axis=0)
c.head()

/home/naoya.taguchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,DateAS,HasDetections,MachineIdentifier,temp
0,2018-08-20 21:11:00,0.0,0000028988387b115f69f31a3bf04f09,2018-08-20 21:00:00
1,2018-03-01 22:10:00,0.0,000007535c3f730efa9ea0b7ef1bd645,2018-03-01 22:00:00
2,2018-08-13 23:35:00,0.0,000007905a28d863f6d0d597892cd692,2018-08-14 00:00:00
3,2018-08-17 03:01:00,1.0,00000b11598a75ea8ba1beea8459149f,2018-08-17 03:00:00
4,2018-08-14 12:33:00,1.0,000014a5f00daa18e76b81417eeb99fc,2018-08-14 13:00:00

In [56]:
c['temp2'] = c.temp.dt.hour == 2
c['temp3'] = c.temp.dt.hour == 3

In [57]:
c.pivot_table(values=['temp2', 'temp3'], index='temp', aggfunc='sum')

                       temp2  temp3
temp
2013-07-18 09:00:00      0.0    0.0
2013-07-18 10:00:00      0.0    0.0
2013-07-18 11:00:00      0.0    0.0
2013-07-18 12:00:00      0.0    0.0
2013-07-18 13:00:00      0.0    0.0
2013-07-18 14:00:00      0.0    0.0
2013-07-18 15:00:00      0.0    0.0
2013-07-18 16:00:00      0.0    0.0
2013-07-18 17:00:00      0.0    0.0
2013-07-18 18:00:00      0.0    0.0
2013-07-18 19:00:00      0.0    0.0
2013-07-18 20:00:00      0.0    0.0
2013-07-18 21:00:00      0.0    0.0
2013-07-18 22:00:00      0.0    0.0
2013-07-18 23:00:00      0.0    0.0
2013-07-19 00:00:00      0.0    0.0
2013-07-19 01:00:00      0.0    0.0
2013-07-19 02:00:00      1.0    0.0
2013-07-19 03:00:00      0.0    1.0
2013-07-19 04:00:00      0.0    0.0
2013-07-19 05:00:00      0.0    0.0
2013-07-19 06:00:00      0.0    0.0
2013-07-19 07:00:00      0.0    0.0
2013-07-19 08:00:00      0.0    0.0
2013-07-19 09:00:00      0.0    0.0
2013-07-19 10:00:00      0.0    0.0
2013-07-19 11:00:00      0.0    0.0
2013-07-19 12:00:00      0.0    0.0
2013-07-19 13:00:00      0.0    0.0
2013-07-19 14:00:00      0.0    0.0
...                      ...    ...
2018-11-24 18:00:00      0.0    0.0
2018-11-24 19:00:00      0.0    0.0
2018-11-24 20:00:00      0.0    0.0
2018-11-24 21:00:00      0.0    0.0
2018-11-24 22:00:00      0.0    0.0
2018-11-24 23:00:00      0.0    0.0
2018-11-25 00:00:00      0.0    0.0
2018-11-25 01:00:00      0.0    0.0
2018-11-25 02:00:00  10633.0    0.0
2018-11-25 03:00:00      0.0    1.0
2018-11-25 04:00:00      0.0    0.0
2018-11-25 05:00:00      0.0    0.0
2018-11-25 06:00:00      0.0    0.0
2018-11-25 07:00:00      0.0    0.0
2018-11-25 08:00:00      0.0    0.0
2018-11-25 09:00:00      0.0    0.0
2018-11-25 10:00:00      0.0    0.0
2018-11-25 11:00:00      0.0    0.0
2018-11-25 12:00:00      0.0    0.0
2018-11-25 13:00:00      0.0    0.0
2018-11-25 14:00:00      0.0    0.0
2018-11-25 15:00:00      0.0    0.0
2018-11-25 16:00:00      0.0    0.0
2018-11-25 17:00:00      0.0    0.0
2018-11-25 18:00:00      0.0    0.0
2018-11-25 19:00:00      0.0    0.0
2018-11-25 20:00:00      0.0    0.0
2018-11-25 21:00:00      0.0    0.0
2018-11-25 22:00:00      0.0    0.0
2018-11-25 23:00:00      0.0    0.0

[46959 rows x 2 columns]

In [62]:
c.pivot_table(values=['MachineIdentifier'], index='temp', aggfunc='count').rename(columns={'MachineIdentifier': 'row_count'})

                     row_count
temp
2013-07-18 09:00:00         21
2013-07-18 10:00:00          0
2013-07-18 11:00:00          0
2013-07-18 12:00:00          0
2013-07-18 13:00:00          0
2013-07-18 14:00:00          0
2013-07-18 15:00:00          0
2013-07-18 16:00:00          0
2013-07-18 17:00:00          0
2013-07-18 18:00:00          0
2013-07-18 19:00:00          0
2013-07-18 20:00:00          0
2013-07-18 21:00:00          0
2013-07-18 22:00:00          0
2013-07-18 23:00:00          0
2013-07-19 00:00:00          0
2013-07-19 01:00:00          0
2013-07-19 02:00:00          0
2013-07-19 03:00:00          0
2013-07-19 04:00:00          0
2013-07-19 05:00:00          0
2013-07-19 06:00:00          0
2013-07-19 07:00:00          0
2013-07-19 08:00:00          0
2013-07-19 09:00:00          0
2013-07-19 10:00:00          0
2013-07-19 11:00:00          0
2013-07-19 12:00:00          0
2013-07-19 13:00:00          0
2013-07-19 14:00:00          0
...                        ...
2018-11-24 18:00:00          0
2018-11-24 19:00:00       8839
2018-11-24 20:00:00      13892
2018-11-24 21:00:00      12104
2018-11-24 22:00:00      10783
2018-11-24 23:00:00          0
2018-11-25 00:00:00      10652
2018-11-25 01:00:00      11843
2018-11-25 02:00:00      10632
2018-11-25 03:00:00          0
2018-11-25 04:00:00      11497
2018-11-25 05:00:00      13067
2018-11-25 06:00:00          0
2018-11-25 07:00:00      14626
2018-11-25 08:00:00      16049
2018-11-25 09:00:00      16927
2018-11-25 10:00:00          0
2018-11-25 11:00:00      16411
2018-11-25 12:00:00      18525
2018-11-25 13:00:00          0
2018-11-25 14:00:00      17053
2018-11-25 15:00:00      15401
2018-11-25 16:00:00      15048
2018-11-25 17:00:00          0
2018-11-25 18:00:00      12848
2018-11-25 19:00:00       9077
2018-11-25 20:00:00          0
2018-11-25 21:00:00       7597
2018-11-25 22:00:00       4629
2018-11-25 23:00:00        100

[46959 rows x 1 columns]

In [51]:
c.head()

,DateAS,HasDetections,MachineIdentifier,temp,temp2
0,2018-08-20 21:11:00,0.0,0000028988387b115f69f31a3bf04f09,2018-08-20 21:00:00,2018-08-21
1,2018-03-01 22:10:00,0.0,000007535c3f730efa9ea0b7ef1bd645,2018-03-01 22:00:00,2018-03-02
2,2018-08-13 23:35:00,0.0,000007905a28d863f6d0d597892cd692,2018-08-14 00:00:00,2018-08-14
3,2018-08-17 03:01:00,1.0,00000b11598a75ea8ba1beea8459149f,2018-08-17 03:00:00,2018-08-17
4,2018-08-14 12:33:00,1.0,000014a5f00daa18e76b81417eeb99fc,2018-08-14 13:00:00,2018-08-15