In [1]:
import numpy as np
import pandas as pd
import joblib
import glob
import pickle
import yaml
from tqdm import tqdm_notebook as tqdm

from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

In [2]:
def load_features(features, base_dir, logger=None):
    loaded_features = []
    for feature in tqdm(features):
        load_filename = base_dir + feature + '.pkl.gz'
        loaded_feature = pd.read_pickle(load_filename, compression='gzip')
        loaded_features.append(loaded_feature)

    features_df = pd.concat(loaded_features, axis=1)
    return features_df

## rolling がうまくできないか調査

In [3]:
df = load_features(['MachineIdentifier', 'HasDetections', 'DateAS'], '../inputs/features/')
df.head()

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

                  MachineIdentifier  HasDetections              DateAS
0  0000028988387b115f69f31a3bf04f09            0.0 2018-08-20 21:11:00
1  000007535c3f730efa9ea0b7ef1bd645            0.0 2018-03-01 22:10:00
2  000007905a28d863f6d0d597892cd692            0.0 2018-08-13 23:35:00
3  00000b11598a75ea8ba1beea8459149f            1.0 2018-08-17 03:01:00
4  000014a5f00daa18e76b81417eeb99fc            1.0 2018-08-14 12:33:00

In [39]:
exp_df = df[df.DateAS.notnull()]
exp_df['temp'] = exp_df.DateAS.dt.round('H')
exp_df.head()

/home/naoya.taguchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,MachineIdentifier,HasDetections,DateAS,temp
0,0000028988387b115f69f31a3bf04f09,0.0,2018-08-20 21:11:00,2018-08-20 21:00:00
1,000007535c3f730efa9ea0b7ef1bd645,0.0,2018-03-01 22:10:00,2018-03-01 22:00:00
2,000007905a28d863f6d0d597892cd692,0.0,2018-08-13 23:35:00,2018-08-14 00:00:00
3,00000b11598a75ea8ba1beea8459149f,1.0,2018-08-17 03:01:00,2018-08-17 03:00:00
4,000014a5f00daa18e76b81417eeb99fc,1.0,2018-08-14 12:33:00,2018-08-14 13:00:00

In [40]:
exp_df['temp'].min(), exp_df['temp'].max()

(Timestamp('2013-07-18 09:00:00'), Timestamp('2018-11-25 23:00:00'))

In [41]:
a = pd.date_range(start=exp_df['temp'].min(), end=exp_df['temp'].max(), freq='H')

In [42]:
b = pd.DataFrame()
b['temp'] = a

In [44]:
c = pd.concat([exp_df, b], axis=0)
c.head()

/home/naoya.taguchi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,DateAS,HasDetections,MachineIdentifier,temp
0,2018-08-20 21:11:00,0.0,0000028988387b115f69f31a3bf04f09,2018-08-20 21:00:00
1,2018-03-01 22:10:00,0.0,000007535c3f730efa9ea0b7ef1bd645,2018-03-01 22:00:00
2,2018-08-13 23:35:00,0.0,000007905a28d863f6d0d597892cd692,2018-08-14 00:00:00
3,2018-08-17 03:01:00,1.0,00000b11598a75ea8ba1beea8459149f,2018-08-17 03:00:00
4,2018-08-14 12:33:00,1.0,000014a5f00daa18e76b81417eeb99fc,2018-08-14 13:00:00

In [56]:
c['temp2'] = c.temp.dt.hour == 2
c['temp3'] = c.temp.dt.hour == 3

In [57]:
c.pivot_table(values=['temp2', 'temp3'], index='temp', aggfunc='sum')

                       temp2  temp3
temp
2013-07-18 09:00:00      0.0    0.0
2013-07-18 10:00:00      0.0    0.0
2013-07-18 11:00:00      0.0    0.0
2013-07-18 12:00:00      0.0    0.0
2013-07-18 13:00:00      0.0    0.0
2013-07-18 14:00:00      0.0    0.0
2013-07-18 15:00:00      0.0    0.0
2013-07-18 16:00:00      0.0    0.0
2013-07-18 17:00:00      0.0    0.0
2013-07-18 18:00:00      0.0    0.0
2013-07-18 19:00:00      0.0    0.0
2013-07-18 20:00:00      0.0    0.0
2013-07-18 21:00:00      0.0    0.0
2013-07-18 22:00:00      0.0    0.0
2013-07-18 23:00:00      0.0    0.0
2013-07-19 00:00:00      0.0    0.0
2013-07-19 01:00:00      0.0    0.0
2013-07-19 02:00:00      1.0    0.0
2013-07-19 03:00:00      0.0    1.0
2013-07-19 04:00:00      0.0    0.0
2013-07-19 05:00:00      0.0    0.0
2013-07-19 06:00:00      0.0    0.0
2013-07-19 07:00:00      0.0    0.0
2013-07-19 08:00:00      0.0    0.0
2013-07-19 09:00:00      0.0    0.0
2013-07-19 10:00:00      0.0    0.0
2013-07-19 11:00:00      0.0    0.0
2013-07-19 12:00:00      0.0    0.0
2013-07-19 13:00:00      0.0    0.0
2013-07-19 14:00:00      0.0    0.0
...                      ...    ...
2018-11-24 18:00:00      0.0    0.0
2018-11-24 19:00:00      0.0    0.0
2018-11-24 20:00:00      0.0    0.0
2018-11-24 21:00:00      0.0    0.0
2018-11-24 22:00:00      0.0    0.0
2018-11-24 23:00:00      0.0    0.0
2018-11-25 00:00:00      0.0    0.0
2018-11-25 01:00:00      0.0    0.0
2018-11-25 02:00:00  10633.0    0.0
2018-11-25 03:00:00      0.0    1.0
2018-11-25 04:00:00      0.0    0.0
2018-11-25 05:00:00      0.0    0.0
2018-11-25 06:00:00      0.0    0.0
2018-11-25 07:00:00      0.0    0.0
2018-11-25 08:00:00      0.0    0.0
2018-11-25 09:00:00      0.0    0.0
2018-11-25 10:00:00      0.0    0.0
2018-11-25 11:00:00      0.0    0.0
2018-11-25 12:00:00      0.0    0.0
2018-11-25 13:00:00      0.0    0.0
2018-11-25 14:00:00      0.0    0.0
2018-11-25 15:00:00      0.0    0.0
2018-11-25 16:00:00      0.0    0.0
2018-11-25 17:00:00      0.0    0.0
2018-11-25 18:00:00      0.0    0.0
2018-11-25 19:00:00      0.0    0.0
2018-11-25 20:00:00      0.0    0.0
2018-11-25 21:00:00      0.0    0.0
2018-11-25 22:00:00      0.0    0.0
2018-11-25 23:00:00      0.0    0.0

[46959 rows x 2 columns]

In [58]:
c.pivot_table(values=['temp2', 'temp3'], index='temp', aggfunc='count')

                     temp2  temp3
temp
2013-07-18 09:00:00     22     22
2013-07-18 10:00:00      1      1
2013-07-18 11:00:00      1      1
2013-07-18 12:00:00      1      1
2013-07-18 13:00:00      1      1
2013-07-18 14:00:00      1      1
2013-07-18 15:00:00      1      1
2013-07-18 16:00:00      1      1
2013-07-18 17:00:00      1      1
2013-07-18 18:00:00      1      1
2013-07-18 19:00:00      1      1
2013-07-18 20:00:00      1      1
2013-07-18 21:00:00      1      1
2013-07-18 22:00:00      1      1
2013-07-18 23:00:00      1      1
2013-07-19 00:00:00      1      1
2013-07-19 01:00:00      1      1
2013-07-19 02:00:00      1      1
2013-07-19 03:00:00      1      1
2013-07-19 04:00:00      1      1
2013-07-19 05:00:00      1      1
2013-07-19 06:00:00      1      1
2013-07-19 07:00:00      1      1
2013-07-19 08:00:00      1      1
2013-07-19 09:00:00      1      1
2013-07-19 10:00:00      1      1
2013-07-19 11:00:00      1      1
2013-07-19 12:00:00      1      1
2013-07-19 13:00:00      1      1
2013-07-19 14:00:00      1      1
...                    ...    ...
2018-11-24 18:00:00      1      1
2018-11-24 19:00:00   8840   8840
2018-11-24 20:00:00  13893  13893
2018-11-24 21:00:00  12105  12105
2018-11-24 22:00:00  10784  10784
2018-11-24 23:00:00      1      1
2018-11-25 00:00:00  10653  10653
2018-11-25 01:00:00  11844  11844
2018-11-25 02:00:00  10633  10633
2018-11-25 03:00:00      1      1
2018-11-25 04:00:00  11498  11498
2018-11-25 05:00:00  13068  13068
2018-11-25 06:00:00      1      1
2018-11-25 07:00:00  14627  14627
2018-11-25 08:00:00  16050  16050
2018-11-25 09:00:00  16928  16928
2018-11-25 10:00:00      1      1
2018-11-25 11:00:00  16412  16412
2018-11-25 12:00:00  18526  18526
2018-11-25 13:00:00      1      1
2018-11-25 14:00:00  17054  17054
2018-11-25 15:00:00  15402  15402
2018-11-25 16:00:00  15049  15049
2018-11-25 17:00:00      1      1
2018-11-25 18:00:00  12849  12849
2018-11-25 19:00:00   9078   9078
2018-11-25 20:00:00      1      1
2018-11-25 21:00:00   7598   7598
2018-11-25 22:00:00   4630   4630
2018-11-25 23:00:00    101    101

[46959 rows x 2 columns]

In [51]:
c.head()

,DateAS,HasDetections,MachineIdentifier,temp,temp2
0,2018-08-20 21:11:00,0.0,0000028988387b115f69f31a3bf04f09,2018-08-20 21:00:00,2018-08-21
1,2018-03-01 22:10:00,0.0,000007535c3f730efa9ea0b7ef1bd645,2018-03-01 22:00:00,2018-03-02
2,2018-08-13 23:35:00,0.0,000007905a28d863f6d0d597892cd692,2018-08-14 00:00:00,2018-08-14
3,2018-08-17 03:01:00,1.0,00000b11598a75ea8ba1beea8459149f,2018-08-17 03:00:00,2018-08-17
4,2018-08-14 12:33:00,1.0,000014a5f00daa18e76b81417eeb99fc,2018-08-14 13:00:00,2018-08-15